In [69]:
import pandas as pd
import numpy as np
from natsort import natsort_keygen
import glob
from tqdm import tqdm

In [39]:
#https://www.biostars.org/p/383786/
arms = pd.read_csv('chrom_arms.tsv', sep='\t')
chr_names = [f'chr{i}' for i in range(1, 23)]

# Keep only the chromosomes
arms = arms[arms['chrom'].isin(chr_names)]

# Sort the dataframe by chromosome and start position using natsort
arms.sort_values(by=['chrom', 'start_pos'], key=natsort_keygen(), inplace=True)

# Reset the index
arms.reset_index(drop=True, inplace=True)

# Convert start_pos, end_pos and lenght to integers
arms['start_pos'] = arms['start_pos'].astype(int)
arms['end_pos'] = arms['end_pos'].astype(int)
arms['length'] = arms['length'].astype(int)

arms

    chrom arm  start_pos    end_pos     length
0    chr1   p          0  123400000  123400000
1    chr1   q  123400000  248956422  125556422
2    chr2   p          0   93900000   93900000
3    chr2   q   93900000  242193529  148293529
4    chr3   p          0   90900000   90900000
5    chr3   q   90900000  198295559  107395559
6    chr4   p          0   50000000   50000000
7    chr4   q   50000000  190214555  140214555
8    chr5   p          0   48800000   48800000
9    chr5   q   48800000  181538259  132738259
10   chr6   p          0   59800000   59800000
11   chr6   q   59800000  170805979  111005979
12   chr7   p          0   60100000   60100000
13   chr7   q   60100000  159345973   99245973
14   chr8   p          0   45200000   45200000
15   chr8   q   45200000  145138636   99938636
16   chr9   p          0   43000000   43000000
17   chr9   q   43000000  138394717   95394717
18  chr10   p          0   39800000   39800000
19  chr10   q   39800000  133797422   93997422
20  chr11   p          0   53400000   53400000
21  chr11   q   53400000  135086622   81686622
22  chr12   p          0   35500000   35500000
23  chr12   q   35500000  133275309   97775309
24  chr13   p          0   17700000   17700000
25  chr13   q   17700000  114364328   96664328
26  chr14   p          0   17200000   17200000
27  chr14   q   17200000  107043718   89843718
28  chr15   p          0   19000000   19000000
29  chr15   q   19000000  101991189   82991189
30  chr16   p          0   36800000   36800000
31  chr16   q   36800000   90338345   53538345
32  chr17   p          0   25100000   25100000
33  chr17   q   25100000   83257441   58157441
34  chr18   p          0   18500000   18500000
35  chr18   q   18500000   80373285   61873285
36  chr19   p          0   26200000   26200000
37  chr19   q   26200000   58617616   32417616
38  chr20   p          0   28100000   28100000
39  chr20   q   28100000   64444167   36344167
40  chr21   p          0   12000000   12000000
41  chr21   q   12000000   46709983   34709983
42  chr22   p          0   15000000   15000000
43  chr22   q   15000000   50818468   35818468

In [ ]:
# Now use bedtools meancoverage to get the mean coverage for each chromosome arm in each sample
# Then follow the procedure from the paper to turn those into z-scores, using 50 control samples as reference mean